/*===== elements on left bar =====*/
#side-bar-on-left {
  overflow:hidden;  
  position:absolute;
  height: 100%;
  width: 18%;
  /* background-color: rgb(58, 58, 58); */
  /* background-image: linear-gradient(to right, rgba(202, 0, 0, 0.329), rgb(255, 130, 130)); */
  background-image: linear-gradient(to right, rgb(255, 130, 130),  rgb(87, 168, 137));

  display: flex;
  flex-direction: column;
}

#side-bar-on-left > div {
  padding-top: 10px;
}

#side-bar-on-left > a:hover {
  color: black;
  background-color: white;
}

#header-bar > a {
  margin: 0 auto;
  display: block;
  /* width: 80%; */
  text-align: center;
}

#header-bar > a > img {
  width: 150px;
  height: 50px;
}

#profile-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

#profile-div > img {
  width: 150px;
  height: 200px;
  margin: 0 auto;
  border-radius: 1em;
}

#profile-div > span {
  padding-top: 0.8em;
  text-align: center;
}

#project-bar, 
#project-list,
.project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  margin-bottom: 1em;
}

.project-title,
#project-list {
  width: 100%;
}

#project-bar .project-title {
  margin-top: 1em;
  font-size: 1.2em;
}

#project-list > a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  text-align: center;
}

#project-list > a:hover {
  color: rgb(0,0,0); 
  background-color: rgb(228, 227, 227);
  transition: 0.4s;
}


/*===== pop up for adding section =====*/
#section-pop-up,
#task-pop-up {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  
  overflow: auto; 
  color: rgb(228, 227, 227);
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#section-box,
#task-box {
  /* background-color: rgb(40, 40, 40); */
  color: rgb(228, 227, 227);
    background-image: linear-gradient(to right,  rgb(74, 89, 173), rgb(219, 177, 114));
  margin: 30vh auto; 
  padding: 20px;
  border: 1px solid white;
  width: 40%; 
  border-radius: 1em;
}

.close,
.close:hover {
  color: white;
  cursor: pointer;
}


/*===== elements on right content =====*/
#content-on-right {
  margin-left: 18%;
  margin-right: 0;
}

#content-on-right > #title-section {
  width: 85%;
  padding: 2em 2em 2em 10%;
  margin-bottom: 20px;
  position: fixed;
  /* background-color: rgb(141, 191, 248); */
  /* background-image: linear-gradient(to right, rgb(112, 189, 159), rgb(141, 191, 248)); */
  background-image: linear-gradient(to right, rgb(87, 168, 137), rgb(141, 191, 248));
  z-index: 1;
}

#section-form-btn {
  width: 150px;
}

#project-container {
  height: 100vh;
  overflow: visible; 
  overflow-x: hidden; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  font-size: 0.95em;
}

#project-container {
  margin-right: 0;
  padding-top: 10%;;
  background-image: linear-gradient(to right, rgb(87, 168, 137), rgb(141, 191, 248));
}

#project-container > * {
  margin: 0.5em auto;
  width: 80%;
  padding: 0.5em 2em;
}

.section-header-bar {
  border-bottom: 1px solid rgba(143, 142, 142, 0.6);
}

.fa-caret-down {
  transform: rotate(-90deg);
  cursor: pointer;
}

.fa-arrows-alt {
  margin-right: 0.8em;
  cursor: move;
  transform: rotate(45deg);
  color: rgb(228, 227, 227);
}

.section-header, 
.task-header {
  display: flex;
  justify-content: space-between;
}

.section-header {
  padding-bottom: 0.5em;
}

.section-header .section-title {
  flex-grow: 1;
}


.section-container {
  margin-right: 1em;
}

.section-container .task-container {
  display:none;
}

.task-container {
  margin: 0 auto;
  width: 90%;
  line-height: 0.9;
}

.section-container > .btn-block,
#section-form-btn,
.rename-section-btn {
  margin-top: 1.2em;
  border: none;
  text-align: left;
  color: rgb(228, 227, 227);
  line-height: 0.5;
  font-size: 0.95em;
}

.section-container > .btn-block:hover,
#section-form-btn:hover {
  background-color: transparent;
  color: #ffc107;
}

.section-container > .btn-block:focus,
#section-form-btn:focus {
  box-shadow: none;
}

.rename-section-btn,
.rename-section-btn:hover {
  padding: 10px;
  background-color: #ee4b00;
  color: rgb(228, 227, 227);
  margin-top: 0;
}

.cancel-section-rename-btn,
.cancel-section-rename-btn:hover {
  padding: 10px;
  color: rgb(228, 227, 227);
  margin-top: 0;
}

.rename-section-input {
  margin-bottom: 0;
  line-height: 0;
}

.remove-section-icon,
.remove-task-icon {
  color: rgb(228, 227, 227);
  cursor: pointer;
}

.section-title {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
}

.fa-times {
  padding-top: 2px;
}

.task-block {
  color: black;
  border-bottom: 1px solid rgba(143, 142, 142, 0.4);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.task-block .task-header {
  flex: 1;
  cursor: pointer;
}

/* .isComplete {

} */

/* ===== Custom sweet alert box ===== */
.swal-modal{
  background-color: rgb(58, 58, 58) !important;
  width: 350px !important;
}

.swal-title,
.swal-text {
  color: rgb(228, 227, 227) !important;
}

.swal-title:first-child {
  margin-top: 13px !important;
}

.swal-button {
  background-color: #e6ad03 !important;
}

.swal-button--cancel {
  background-color: transparent !important;
  color: rgb(228, 227, 227) !important;
}