/*===== elements on left bar =====*/
#side-bar-on-left {
  overflow:hidden;  
  position:absolute;
  height: 100%;
  width: 18%;
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
}

#side-bar-on-left > div {
  padding-top: 10px;
}

#side-bar-on-left > a:hover {
  color: black;
  background-color: white;
}

#header-bar > a {
  margin: 0 auto;
  display: block;
  width: 80%;
}

#header-bar > a > img {
  width: 150px;
  height: 50px;
}

#profile-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

#profile-div > img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 1em;
}

#profile-div > span {
  padding-top: 0.8em;
  text-align: center;
}

#project-bar, 
#project-list,
.project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  margin-bottom: 1em;
}

.project-title,
#project-list {
  width: 100%;
}

#project-bar .project-title {
  margin-top: 1em;
  font-size: 1.2em;
}

#project-list > a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  text-align: center;
}

#project-list > a:hover {
  color: rgb(0,0,0); 
  background-color: rgb(228, 227, 227);
  transition: 0.4s;
}


/*===== pop up for adding section =====*/
#section-pop-up,
#task-pop-up {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  
  overflow: auto; 
  color: rgb(228, 227, 227);
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#section-box,
#task-box {
  background-color: rgb(40, 40, 40);
  color: rgb(228, 227, 227);
  margin: 30vh auto; 
  padding: 20px;
  border: 1px solid white;
  width: 50%; 
  border-radius: 1em;
}

.close,
.close:hover {
  color: white;
  cursor: pointer;
}


/*===== elements on right content =====*/
#content-on-right {
  margin-left: 20%;
  margin-right: 0;
}

#content-on-right > #title-section {
  width: 85%;
  padding: 2em 2em 2em 10%;
  margin-bottom: 20px;
  position: fixed;
  background-color: rgb(40, 40, 40);
  z-index: 1;
}

#section-form-btn {
  width: 150px;
}

#project-container {
  height: 100vh;
  overflow: visible; 
  overflow-x: hidden; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
}

#project-container {
  margin-right: 0;
  padding-top: 10%;;
}

#project-container > * {
  margin: 1.2em auto;
  width: 80%;
  padding: 1em 2em;
}

.fa-caret-down {
  transform: rotate(-90deg);
  cursor: pointer;
}

.fa-arrows-alt {
  margin-right: 0.5em;
  cursor: move;
  transform: rotate(45deg);
}

.section-header, 
.task-header {
  display: flex;
  justify-content: space-between;
}

.section-header {
  border-bottom: 1px solid rgb(58, 58, 58);
  padding-bottom: 0.5em;
}

.section-header .section-title {
  flex-grow: 1;
}


.section-container {
  margin-right: 1em;
}

.section-container .task-container {
  display:none;
}

.task-container {
  margin: 0 auto;
  width: 90%;
  line-height: 0.9;
}

.section-container > .btn-block,
#section-form-btn {
  margin-top: 1.2em;
  border: none;
  text-align: left;
  color: rgb(228, 227, 227);
  line-height: 0.5;
}

.section-container > .btn-block:hover,
#section-form-btn:hover {
  background-color: transparent;
  color: #ffc107;
}

.section-container > .btn-block:focus,
#section-form-btn:focus {
  box-shadow: none;
}

.section-title {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
}

.fa-times {
  padding-top: 2px;
}

.task-block {
  color: black;
  border-bottom: 1px solid rgb(58, 58, 58);
  margin-top: 10px;
  cursor: move;
}

.task-block .name,
.task-block .description {
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
}

/* ===== Custom sweet alert box ===== */
.swal-modal{
  background-color: rgb(58, 58, 58) !important;
  width: 350px !important;
}

.swal-text {
  color: rgb(228, 227, 227) !important;
}

.swal-button {
  background-color: #e6ad03 !important;
}